@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://www.mahindrafirstchoice.com/assets/images/new-careers/sneak6.JPG');
background-size: cover;

background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
font-size: 14px;
}

.container{
height: 100%;
align-content: center;
}

#logo{
	height: 60px;
	width: 100px;
	border-radius: 50%;
}

header{
	font-family: 'Dancing Script', cursive;
	background-color: #000000ba;
	height: 10%;
	color: #ffdd00;
	line-height: 60px;
	padding-left: 10px;
	width: 100%;
}

.card{
height: 300px;
margin-top: 100px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.7) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}
