@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://topfranchiseindia.in/wp-content/uploads/2020/05/adidas-Franchise-22.jpg');
background-size: cover;

background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
font-size: 14px;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.7) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.error{
color: red;
}

.logout {
color: black;
    background: lightgreen;
    height: 24px;
    margin: 10px 0 10px 0;
    line-height: 2;
    text-align: center;
    border-radius: 5px;
    opacity: 0.8;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 200px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}